/* Container Query */

body {
  margin: 50px;
}

/* .range-control {
  margin-bottom: 20px;
}

.wrapper {
  border: 1px solid red;
  padding: 10px;
  container-type: inline-size;

  .bootcamp {
    display: flex;
    flex-flow: column nowrap;

    @container (width >= 600px) {
      flex-direction: row;

      div {
        font-size: 2em;
        color: white;
      }
    }

    div {
      block-size: 200px;
      text-align: center;
      align-content: center;
      font-weight: 700;
    }

    .like {
      background: green;
    }

    .lion {
      background: orange;
    }
  }
} */

.card-wrapper {
  container-type: inline-size;

  .card {
    background: #f9f9f9;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    padding: 20px;
    border: 1px solid gray;

    @container (width >=480px) {
      flex-direction: row;
    }

    img {
      inline-size: 100%;
      aspect-ratio: 3/2;
      object-fit: cover;
    }

    figcaption {
      text-align: center;
      font-style: italic;
      margin-block-start: 8px;
      font-weight: 600;
    }

    p {
      line-height: 1.5;
      text-align: justify;
      color: gray;
    }
  }
}

/* 그리드 레이아웃 */
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .card-wrapper:nth-child(n + 5) {
    grid-column: span 2;
  }
}
