:root {
  /* 웹카페 색상 테마 */
  --white: #fff;
  --black: #181818;
  --gray: #7a7a7a;
  --orange-100: #e8852e;
  --orange-200: #ed552f;
  --yellow: #ff0;

  /* 글자 크기 */
  --text-13: 0.8125rem;
  --text-14: 0.875rem;
  --text-15: 0.9375rem;

  /* 줄 높이 */
  --leading-base: 1.5;

  /* 여백 및 간격 */
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-6: 0.375rem;
  --spacing-8: 0.5rem;
  --spacing-10: 0.625rem;
  --spacing-12: 0.75rem;
}

/* 폼 스타일링 */
body {
  margin: 50px;
}

/* 컴포넌트 컨테이너 */
.component-wrapper {
  > div {
    margin-block: 1em;
  }
}

/* 입력 서식 컴포넌트 스타일링 */
.form-input {
  --input-color: var(--gray);
  --label-size: 56px;
  font-size: var(--text-14);
  line-height: var(--leading-base);

  label {
    min-width: 56px;
    display: inline-block;
  }

  input {
    border: 1px solid var(--input-color);
    border-radius: 4px;
    width: calc(100% - var(--label-size));
  }
}

/* 버튼 컴포넌트 스타일링 */
/* 공통 버튼 컴포넌트 스타일링 */
[type='button'] {
  border: 0;
  padding: 0;
  background: transparent;
  border-radius: 4px;
  font-size: var(--text-13);
  line-height: var(--leading-base);
  /* letter-spacing: 0.2em; */
}

.fill-button {
  --fill-color: var(--black);

  background: var(--fill-color);
  color: var(--white);
  padding: 4px 12px 2px;
  border: 1px solid var(--fill-color);
}

.outline-button {
  --current-color: var(--orange-200);

  border: 1px solid currentColor;
  color: var(--current-color);
  padding: 4px 12px 2px;
}

/* 하이퍼링크 컴포넌트 */
.icon-link {
  --icon-color: var(--orange-200);
  font-size: var(--text-13);

  span {
    font-weight: bold;
    color: var(--icon-color);
  }
}
