body {
  margin: 50px;
  background: #000;
  color: #fff;
}

.news {
  margin-block: 20px;
  background: #24388d;
  padding: 20px;
  min-inline-size: 320px;
  display: grid;
  gap: 5px 20px;
  grid-template-columns: minmax(190px, 1fr) max-content;
  /* grid-template-columns: repeat(2, 3, 1fr); */

  .title {
    margin-bottom: 10px;
  }

  .list,
  .item {
    display: contents;
    font-size: 0.75rem;
  }

  .more {
    grid-area: 1;
    grid-column: 2;
    justify-self: end;
  }
}
