/* 스크롤이 없는 100% 레이아웃 */
/* container가 부모요소의 크기를 상속받을 수 있도록 높이를 100%로 지정 */
html,
body {
  block-size: 100%;
}

.container {
  background: yellow;
  inline-size: 100%;
  block-size: 100%;
  height: 600px;
  display: flex;
  flex-flow: column nowrap;

  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
  }

  .sidebar {
    inline-size: 200px;
    background: var(--lavender);
  }

  .main-content {
    background: var(--mint);
    flex-grow: 1;
  }
}
